---
layout: component
title: Btn
categories: components
tags:
- ui
- inline
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_btn.scss"
---

<a href="#" class="btn">A simple hyperlink .btn</a>
<button class="btn">A simple button.btn</button>
<input class="btn" type="button" value="A simple input.btn"/>

<a href="#" class="btn is-disabled">A .is-disabled hyperlink .btn</a>
<button class="btn is-disabled">A .is-disabled button.btn</button>
<input class="btn is-disabled" type="button" value="A .is-disabled input.btn"/>

<button class="btn" disabled>A button.btn[disabled]</button>
<input class="btn" disabled type="button" value="A input.btn[disabled]"/>

<a href="#" class="btn btn--small">A simple hyperlink .btn--small</a>
<button class="btn btn--small">A simple button.btn--small</button>

<a href="#" class="btn btn--large">A simple hyperlink .btn--large</a>
<button class="btn btn--large">A simple button.btn--large</button>

<a href="#" class="btn is-active">A simple hyperlink .btn.is-active</a>
<button class="btn is-active">A simple button.btn.is-active</button>