---
layout: component
title: Btn-social
categories: components
tags:
- ui
- inline
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_btn-social.scss"
---

<a href="#" class="btn btn--rss">A .btn--rss hyperlink</a>
<a href="#" class="btn btn--twitter">A .btn--twitter hyperlink</a>
<a href="#" class="btn btn--facebook">A .btn--facebook hyperlink</a>
<a href="#" class="btn btn--linkedin">A .btn--linkedin hyperlink</a>
<a href="#" class="btn btn--googleplus">A .btn--googleplus hyperlink</a>
