---
layout: component
title: Boxed
categories: components
tags:
- block
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_boxed.scss"
description: This module is a box. Neat.
---

<div class="boxed">
    <p>A paragraph in a boxed div. With <a href="#l">a link</a></p>
</div>

<div class="boxed boxed--light">
    <p>A paragraph in a boxed--light div. With <a href="#l">a link</a></p>
</div>

<div class="boxed boxed--accent">
    <p>A paragraph in a boxed--accent div. With <a href="#l">a link</a></p>
</div>
