---
layout: component
title: Media-list
categories: components
tags:
- list
- image
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_media.scss"
---

<ul class="media-list">
    <li>
        <div class="media__img">
            <img src="http://placehold.it/80x80" alt="IMG">
        </div>
        <div class="media__body">
            <p>A .media-list with media-items in each LI</p>
        </div>
    </li>
    <li>
        <a href="#" class="media__img media__img--reversed">
            <img src="http://placehold.it/80x80" alt="IMG">
        </a>
        <div class="media__body">
            <p>A .media-list with media-item (reversed img)</p>
        </div>
    </li>
    <li>
        <a href="#" class="media__img">
            <img src="http://placehold.it/80x80" alt="IMG">
        </a>
        <div class="media__body">
            <p>Last .media-list item</p>
        </div>
    </li>
</ul>
