---
layout: component
title: Media
categories: components
tags:
- block
- image
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_media.scss"
---

<div class="media">
    <a href="#" class="media__img">
        <img src="http://placehold.it/80x80" alt="IMG">
    </a>
    <div class="media__body">
        <h3>A .media item (this is the .media__body)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, atque, doloremque, placeat iure aperiam nulla provident dignissimos excepturi aut odio aliquid facilis dicta quis velit voluptate laudantium harum rerum minus.</p>
    </div>
</div>

<div class="media">
    <a href="#" class="media__img media__img--reversed">
        <img src="http://placehold.it/80x80" alt="IMG">
    </a>
    <div class="media__body">
        <h3>Another .media item with media__img--reversed</h3>
    </div>
</div>