---
layout: component
title: Nav--breadcrumbs
categories: components
tags:
- list
- navigation
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_nav--breadcrumbs.scss"
---

<ul class="nav nav--breadcrumbs">
    <li class="nav--breadcrumbs__root"><a href="#">.nav--breadcrumbs__root</a></li>
    <li><a href="#">.nav--breadcrumbs link</a></li>
    <li><a href="#">.nav--breadcrumbs</a></li>
</ul>

<ul class="nav nav--breadcrumbs breadcrumbs--path">
    <li class="nav--breadcrumbs__root"><a href="#">.nav--breadcrumbs__root</a></li>
    <li><a href="#">.breadcrumbs--path</a></li>
    <li><a href="#">.breadcrumbs--path</a></li>
</ul>