---
layout: component
title: Nav--pagination
categories: components
tags:
- list
- navigation
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_nav--pagination.scss"
---

<ul class="nav nav--pagination">
    <li class="nav--pagination__first"><a href="#">First</a></li>
    <li><a href="#">1</a></li>
    <li class="is-active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li class="nav--pagination__last"><a href="#">First</a></li>
</ul>