---
layout: component
title: Figure
categories: components
tags:
- block
- image
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_figure.scss"
---

<figure class="figure">
    <a href="#" class="figure__link">
        <img src="http://placehold.it/800x600" alt="figure__img" class="figure__img">
    </a>
    <figcaption class="figure__caption">
        <span class="figure__caption__title">figure__caption__title</span>
        <span class="figure__caption__credit">figure__caption__credit</span>
    </figcaption>
</figure>
