---
layout: component
title: Nav
categories: components
tags:
- list
- navigation
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_nav.scss"
---

<ul class="nav">
    <li><a href="#">Link in a .nav</a></li>
    <li><a href="#">Link in a .nav</a></li>
    <li><a href="#">Link in a .nav</a></li>
</ul>

<ul class="nav nav--centered">
    <li><a href="#">Link in .nav--centered</a></li>
    <li><a href="#">Link in .nav--centered</a></li>
    <li><a href="#">Link in .nav--centered</a></li>
</ul>

<ul class="nav nav--fit">
    <li><a href="#">Link in .nav--fit</a></li>
    <li><a href="#">Link in .nav--fit</a></li>
    <li><a href="#">Link in .nav--fit</a></li>
</ul>