---
layout: component
title: Message
categories: components
tags:
- block
- form
scssurl: "https://github.com/davidhund/dh-kickstart-style/blob/master/components/_message.scss"
---

<div class="message">
    <p>A .message with <a href="#">a hyperlink</a></p>
</div>

<div class="message message--info">
    <p>A .message--info with <a href="#">a hyperlink</a></p>
</div>

<div class="message message--error">
    <p>A .message--error with <a href="#">a hyperlink</a></p>
</div>

<div class="message message--valid">
    <p>A .message--valid with <a href="#">a hyperlink</a></p>
</div>

<div class="message message--warning">
    <p>A .message--warning with <a href="#">a hyperlink</a></p>
</div>